body {
    background-color: white;
}

.reveal blockquote  {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding:2px;
    background-color: #EEEEEE;
}

.reveal h2 {
    font-size: 2em;
    font-family: MPLUS1p-Regular;
    color:black;
}

:after .reveal h2 {
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, #FFFFFF, transparent);
    background: linear-gradient(to right, #FFFFFF, transparent);
}

.reveal h3 {
    font-size: 1.5em;
    font-family: MPLUS1p-Regular;
}

.reveal h4 {
    font-size: 1.125em;
    font-family: MPLUS1p-Regular;
}

.reveal h5 {
    font-size: 1em;
    font-family: MPLUS1p-Regular;
}

.reveal h6 {
    font-size: 0.75em;
    font-family: MPLUS1p-Regular;
}

.reveal li {
    font-size: 1.25em;
    font-family: MPLUS1p-Regular;
}

.reveal p {
    font-size: 1.25em;
    font-family: MPLUS1p-Regular;
}

.reveal a {
    font-size: 0.75em;
    font-family: MPLUS1p-Regular;
}